.categories {
  background-color: #118ee2;
  color: black;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.categories-style {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.categories-style input {
  width: 30px;
}

section h2 {
  align-self: center;
}
