header {
  align-items: center;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header h1 {
  color: black;
  margin: 10px;
}

.search-box-style {
  background-color: #118ee2;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

.search-box-style input {
  border: 2px solid black;
  border-radius: 8px;
  margin-left: 15px;
  padding: 8px;
  width: 300px;
}

.search-box-style button {
  background-color: #118ee2;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-weight: 700;
  padding: 10px;
}

.search-button {
  margin-left: 5px;
}

.cart-button {
  margin-right: 15px;
}
