.list_products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 7px 7px 5px rgba(105, 105, 105, 0.5);
  cursor: auto;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin: 15px 10px;
  width: 200px;
}

.card-title {
  align-self: center;
  background-color: #118ee2;
  border-radius: 5px 5px 0 0;
  color: white;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  justify-content: center;
  width: 100%;
}

.card-title p {
  width: 190px;
}

.card-add {
  background-color: yellow;
  border-radius: 0 0 5px 5px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
  width: 100%;
}

.card-button {
  background-color: transparent;
  border-style: none;
  color: black;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin-left: 15px;
  padding: 0 15px;
}

.card-price {
  font-weight: 700;
  margin-right: 15px;
}

.card img {
  max-height: 150px;
  max-width: 100px;
}
